.dappsContainer{
    width: 70%;
    height: 1000px;
    background: lightskyblue;
    max-width: 1400px;
    margin: 70px auto 100px auto;
    z-index: 1;
}

.dappsContainer ul{
    width: 100%;
    padding: 30px 50px;
}

.dappsContainer ul li{
    width: 100%;
}

.dappsContainer ul li .dappContainer{
    width: 100%;
}

.dappsContainer ul li .dappContainer .dappContainerLeft{
    width: 30%;
    display: inline-block;
    cursor: pointer;
}

.dappsContainer ul li .dappContainer .dappContainerLeft img{
    width: 100%;
}